body {
    background-color: #0e1117;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.nav-title {
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.button-text {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.image-caption {
    font-size: 14px;
    font-weight: 500;
}

.main-title {
    font-size: 40px;
    font-weight: 700;
}

.subheader-text {
    font-size: 20px;
    font-weight: 700;
}

.body-text {
    font-size: 16px;
    font-weight: 500;
}

.project-card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.project-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

a:link {
    color: #8f72e8;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #5d4997; /* lighter version of #8f72e8 */
}